html{
   background-color: aqua
   color: white;
}
p { 
   font-size: 12px; 
   color: green;
   display: inline;
   visibility: visible;
   box-shadow: 5px 10px #888888;
   margin-top: 100px;
   margin-right: 100px;
   margin-bottom: 100px;
   margin-left: 100px;
   padding-top: 30px;
   padding-right: 30 px;
   padding-bottom: 30 px;
   padding-left: 30 px;
   border-style: dotted;
   border-width: 2px;
   width: 100px;
   height: 100px;
   border-radius: 50px 20px;
   } 
h1 {
   font-size: 20px; 
